<!-- Document header -->
<div class='row'>
    <h3>Documents for Project <%=project_id%> <img src="/images/button_plus_green.png" id="new_document" class="add_icon"/></h3>
</div>

<div class="section">
    <div class="row">
<% documents.each do |document| %>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="/images/stock_new_text.png" alt="...">
                <div class="caption">
                  <%= document.doc_type.name %>
                    <% if document.completed.to_i <= 25 %>
                      <%= "<span class='badge not_started'>#{document.completed}%</span></a>" %>
                    <% elsif document.completed.to_i <= 60 %>
                      <%= "<span class='badge started'>#{document.completed}%</span></a>" %>
                    <% elsif document.completed.to_i <= 95 %>
                      <%= "<span class='badge complete'>#{document.completed}%</span></a>" %>
                    <%end%>
                  <br>
                  <%= "<a href='/project/1/document/#{document.id}/view'>View</a>" %>
                  &nbsp;
                  <%= "<a href='/project/1/document/#{document.id}/edit'>Edit</a>" %>

                    <p></p>
                </div>
            </div>
        </div>
<% end %>

        <!-- STATIC DEMO CODE 
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="/images/stock_new_text.png" alt="...">
                <div class="caption">
                    <a href='/projects/1/document_detail'>Doc 1 <span class="badge">80%</span></a>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="/images/stock_new_text.png" alt="...">
                <div class="caption">
                    <a href='/projects/1/document_detail'>Doc 2 <span class="badge complete">100%</span></a>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="/images/stock_new_text.png" alt="...">
                <div class="caption">
                    <a href='/projects/1/document_detail'>Doc 3 <span class="badge">80%</span></a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="/images/stock_new_text.png" alt="...">
                <div class="caption">
                    <a href='/projects/1/document_detail'>Doc 4 <span class="badge not_started">0%</span></a>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="/images/stock_new_text.png" alt="...">
                <div class="caption">
                    <a href='/projects/1/document_detail'>Doc 5 <span class="badge">80%</span></a>
                    <p></p>
                </div>
            </div>
        </div>
    </div> -->
</div>

<!-- List of docs -->
<div class="modal fade" id="create_document_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Create a Document</h4>
            </div>

            <div class="modal-body">
                <div>
                    <h5>Select a Document Type</h5>
                </div>
                <div id="documentType" class="list-group">
                    <% doc_types.each_with_index do |doc_type, index| %>
                      <% if index == 0 %>
                        <%= "<a href='#' id='#{doc_type.id}' class='list-group-item active'>#{doc_type.name}</a>" %>
                      <% else %>
                        <%= "<a href='#' id='#{doc_type.id}' class='list-group-item'>#{doc_type.name}</a>" %>
                      <% end %>
                    <%end%>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="create_document_start" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

